body {
    font-family: futura !important;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 10px rgba(255,255,255,1);
    background: #83a4d4;  /* fallback for old browsers */
    background: #8e9eab;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, #eef2f3, #8e9eab);
    background: -moz-linear-gradient(left, #eef2f3, #8e9eab);
    background: -o-linear-gradient(left, #eef2f3, #8e9eab);
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}                                

#container, .container {
    text-align: center;
    margin: 0 auto;
    color: black;
    font-size: 1.2em;
    text-shadow: 0 0 10px rgba(255,255,255,1);
    padding: 15px;
}

p {
    margin:0 auto;
    text-align: center;
}

.wrong {
    color: red;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
}

.update {
    margin: 0 auto;
    text-align: center;
    color: green;
}


table, th, td {
  text-align:left;
  font-weight:600;
}

th {
    font-size: 1.1em;
}

thead {
    text-align:center;
    font-size:1.2em;
}


#t1, #t2, #t3 {
    width: 33.3%;
    float: left;
}
 #t4,#t5, #t6 {
     width: 33.3%;
     float: left;
     margin-bottom: 10px;
     padding-bottom: 20px;
 }

#line {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.reports {
     font-size: 1.2em;
     font-weight: 700;
}

nav {
    font-weight: 700;
    font-size: 1.1em;
    color: black;
    background: #83a4d4;  /* fallback for old browsers */
    background: #8e9eab;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, #eef2f3, #8e9eab);
    background: -moz-linear-gradient(left, #eef2f3, #8e9eab);
    background: -o-linear-gradient(left, #eef2f3, #8e9eab);
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}